<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'function_declaration' => ['closure_function_spacing' => 'none'],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('vendor')
            ->in(__DIR__)
    )
;
